.section-three-modal{
    width:100%;
    min-height: 95vh;
    position:absolute;
    top:0;
    left:0;
    z-index: 1001;
    background-color: #222;
    opacity: 0;
    animation: modal-opacity 0.5s ease-out;
    animation-fill-mode: forwards;
    transform: translateX(100%);
    overflow-y: hidden;   
}

@keyframes modal-opacity {
    0%{
        opacity: 0;
        scale:0;
    }

    100%{
        opacity:1;
        scale:100%;
        transform: translateX(0);
    }
}

.close-btn{
    position: sticky;
    top:25px;
    right:25px;
    float: right;
    cursor: pointer;
    z-index: 1002;
}

.owner-image-modal{
    background: no-repeat center center;
    background-size: cover;
    height: 90vh !important; 
}

.modal-title{
    text-align: center;
    margin-top: 40px;
}

.modal-title span{
    font-size: 55px;
    font-weight: 900;
    line-height: 60.5px;
}

.divider{
    margin-top:40px;
    text-align: center; 
}

.fa-vcard{
    color:rgb(218,165,32);
    font-size: 20px;
    margin-right:20px;
    margin-left:20px;
}

.divider-line{
    line-height: 1.5;
    color: #656c6d;
    display: inline-block;
    vertical-align: super;
    width: 25%;
    border-bottom: 1px solid #666;
}

.content-wrapper{
    padding-top:5px;
    /* padding-left: 36px;
    padding-right: 50px; */
}


/* portfolio items start */

.portfolio-item{
    width: 400px;
    height: 300px;
}

.portfolio-item-1{
    background-color: red;
    }

.portfolio-item-2{
    background-color: blue;
    }

.portfolio-item-3{
    background-color: green;
    }

.portfolio-item-4{
    background-color: yellow;
}

.portfolio-item-5{
    background-color: brown;
}

.portfolio-item-6{
    background-color: darkorchid;
}

/* portfolio items end */

/* sub section modal start */

.sub-section-modal{
    width:100%;
    min-height: 300vh;
    position:absolute;
    top:0;
    left:0;
    z-index: 2001;
    background-color: #222;
    opacity: 0;
    animation: modal-opacity 0.5s ease-out;
    animation-fill-mode: forwards;
    transform: translateX(100%);
    margin-bottom: 30px; 
}

.close-sub-section-btn{
    position: sticky;
    top:25px;
    right:25px;
    float: right;
    cursor: pointer;
    z-index: 2002;
}

.sub-section-modal .container{
    padding-top: 30px;
}

.left-section{
    max-width: 100%;
    height: auto;
    float: left;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(51, 51, 51);
}

.right-section{
    color:#eee;
}

.right-section ul{
    list-style: none;
}

.right-section ul li{
    padding-bottom: 12px;
}

.right-section .w-700{
    font-weight: 700;
}

.right-section p{
    font-size: 30px;
    font-weight: 700;
}

.right-section span{
    font-size: 14.4px;
}

.right-section i{
    font-size: 14.4px;
    margin-right: 12px;
}

hr{
    background-color: rgb(51,51,51);
}

/* sub section modal end */